/practica2/dist/
/practica3/nbproject/private/
/CalculatorWSApplication/nbproject/private/
/CalculatorWSApplication/build/
/Calculator/CalculatorClientApp/nbproject/private/
/Calculator/CalculatorApp/nbproject/private/
/Calculator/CalculatorClientApp/build/
/CaluclatorWS_Client_Application/nbproject/private/
/CaluclatorWS_Client_Application/build/
/CalulatorWS_Client_Application/nbproject/private/
/CalulatorWS_Client_Application/build/
/CalculatorWSServletClient/nbproject/private/
/CalculatorWSServletClient/build/
/CalculatorWSJSPClient/nbproject/private/
/CalculatorWSJSPClient/build/
/calc/CalculatorWS_Client_Application/nbproject/private/
/calc/CalculatorWS_Client_Application/build/
/practica3/practica3Server/nbproject/private/
/practica3/practica3WS_Client_Application/nbproject/private/
/practica3/practica3Server/build/
/practica3/practica3WS_Client_Application/build/
/practica3/practica3WSServlet/nbproject/private/
/practica3/practica3WSServlet/build/
/practica3/practica3WSServlet/dist/
/practica3/practica3WS_Client_Application/dist/
/practica3/practica3Server/dist/
/practica4/practica4Server/nbproject/private/
/practica4/WSClientApplication/nbproject/private/
/practica4/WSWebApplication/nbproject/private/
/practica4/RestAD/nbproject/private/
/practica4/RestADClientApplication/nbproject/private/
/practica4/RestADWebApplication/nbproject/private/
/practica4/RestAD/build/