/practica2/dist/
/practica3/nbproject/private/
/CalculatorWSApplication/nbproject/private/
/CalculatorWSApplication/build/
/Calculator/CalculatorClientApp/nbproject/private/
/Calculator/CalculatorApp/nbproject/private/
/Calculator/CalculatorClientApp/build/
/CaluclatorWS_Client_Application/nbproject/private/
/CaluclatorWS_Client_Application/build/
/CalulatorWS_Client_Application/nbproject/private/
/CalulatorWS_Client_Application/build/
/CalculatorWSServletClient/nbproject/private/
/CalculatorWSServletClient/build/
/CalculatorWSJSPClient/nbproject/private/
/CalculatorWSJSPClient/build/
/calc/CalculatorWS_Client_Application/nbproject/private/
/calc/CalculatorWS_Client_Application/build/
/practica3/practica3Server/nbproject/private/